In [2]:
print(list(range(2,5)))

[2, 3, 4]

In [5]:
print(list(range(2,5,9)))

[2]

In [6]:
list1={'香蕉','橘子'}
print(list1)

{'香蕉', '橘子'}

In [14]:
list1=['香蕉','橘子']
print(list1)
print(list1[1])
print(list1[-2])

['香蕉', '橘子']
橘子
香蕉

In [29]:
list1=['香蕉','橘子']
for s in list1:
    print(s)

香蕉
橘子

In [31]:
list1=['香蕉','橘子']
for s in list1:
    print(s,end=',')

香蕉,橘子,

In [20]:
list5=[['tom','1234']],[['mary','abcd']]
print(list5[1])
print(list5[1][1])
print(list5[0][0])

[['mary', 'abcd']]
['mary', 'abcd']
['tom', '1234']

In [25]:
g,h,i=list(map(int,input().split()))
list1=[g,h,i]
print('國文成績:',list1[0])
print('數學成績:',list1[-2])
print('英文成績:',list1[-1])

國文成績: 85
數學成績: 79
英文成績: 94

In [35]:
list1={123,'橘子',True}
print(list1,end='  ')

{True, 123, '橘子'}

In [ ]:
list1=['85','79','93']
print('國文成績:',list1[0])
print('數學成績:',list1[-2])
print('英文成績:',list1[-1])

In [81]:
s=['85','79','93']
for j in range(len(s)):
    print('國文成績:',%s,s[j])

SyntaxError: invalid syntax (2466639574.py, line 3)

In [ ]:
tom=['85','79','93']
list2=['tom','mary','tony']
for s in range(tom):
    print('國文成績:'),tom[0]
    print('數學成績:')
    print('英文成績:')
print('姓名:',list2[0])

In [88]:
subject=['國文','英文','數學']
scores=[85,79,93]
name=['tom','mary','tony']
for s in range(len(subject)):
    print(f'{subject[s]}成績:{scores[s]}')
print()
for s in range(1,len(name) + 1):
    print(f'編號:{s}')
print()
for s in range(len(name)):
    print(f'姓名:{name[s]}')
print()

國文成績:85
英文成績:79
數學成績:93

編號:1
編號:2
編號:3

姓名:tom
姓名:mary
姓名:tony

In [ ]:
input()
x=5050
print(x)

In [104]:
a=int(input())
if a <0:
    print("Input Error")
elif a%2==0:
    print(f'{a} is even')
else:
    print(f'{a} is odd')

8 is even

In [107]:
a=int(input())
if a ==0:
    print("0 yuan")
elif a>=1 and a<=5:
    print('240 yuan')
elif a>5:
    print(240+40*(a-5),'yuan')
else:
    print('Input Error')

Input Error

In [115]:
a=int(input())
b=100000
c=b*(1+0.03)**a
if a<0:
    print("Input Error")
else:
    print(float(c))

115927.40743

In [116]:
g,h,i=list(map(int,input().split()))
print(min(g,h,i))

4

In [123]:
c,d=list(map(int,input().split()))
import math
print(math.lcm(c, d))

15

In [132]:
c,d=map(int,input().split())
e=""
if e%c==0 and e%d==0:
    print(min(e))

TypeError: not all arguments converted during string formatting

In [ ]:
def reverse_input():
    # 接收使用者輸入，並將其拆分為列表
    user_input = input().split()
    # 將列表倒序排列
    reversed_list = user_input[::-1]
    # 將倒序列表轉換回字串並輸出
    output = " ".join(reversed_list)      #15題
    print(output)

# 呼叫主程式
reverse_input()

In [ ]:
user_input = input()
start, stop, step = map(int, user_input.split())
output = ",".join(map(str, range(start, stop, step)))   #30題
print(output + ",")

In [130]:
g,h,i=list(map(int,input().split()))
print(list(range(g,h,i))) #32題

[3, 4, 5, 6, 7]

In [134]:
g,h,i=list(map(int,input().split()))
if g+h+i <0 or g+h+i =0:
    print("InValid")
else:
    print('Valid')

Valid